@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Já existe dívidas em aberto para esse cliente, dívida não cadastrada</h1>

@Html.ActionLink("Voltar para lista de clientes", "List","Cliente")