@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Teste Vendinha Plena Interfocus</h1>
    
    <p><a href="https://github.com/LucianoSantosOliveira">Meu Git Hub</a>.</p>
</div>
